*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    background: black;
    height: 90px;
    width: 100%;
    border-bottom: .5px solid white;
    position: fixed;
    z-index: 999;
}

header a{
    text-decoration: none;
}

header a img{
    margin: 20px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 10px;
}

header a h2{
    margin: 10px;
    color: white;
    margin-left: 50px;
    cursor: pointer;
    font-size: 28px;
    font-weight: 800;
}

header a h2 span{
    color: goldenrod;
}

header ul{
    display: flex;
    margin: 30px;
}

header ul li{
    list-style: none;
    margin: 0 25px;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 1s;

}

header ul li a:hover{
    color: goldenrod;
}
section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}



#home{
   background: linear-gradient( black, white);
}

#about{
    background: linear-gradient( black, white);
}

#books{
    background: linear-gradient( black, white);
}

#contact{
    background: linear-gradient( black, white);
}

section h1{
    position: absolute;
    top: 22%;
    left: 410px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 0.1vw goldenrod;
    text-align: center;
}

section h1 span{
    color: goldenrod;
    -webkit-text-stroke: 0.2vw black;
}

.carousel{
    width: 350px;
    height: 350px;
    margin-left: 100px;
    overflow: hidden;
    text-align: center;
    top: 25%;
    border-radius: 8px;
}

.image-container{
    width: 1500px;
    height: 500px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-contaner{
    top: -20px;
    position: relative;
}

.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
}

#slider-image-1:target ~ .image-container{
    left: 0px;
}

#slider-image-1:target ~ .image-container{
    left: -500px;
}

#slider-image-1:target ~ .image-container{
    left: -1000px;
}

.content h5{
    position: relative;
    margin-left: 32%;
    padding: 0%;
    top: -150px;
}

.content-a {
    position: absolute;
    top: 200px;
    right: 160px;
    width: 400px;
    color: aliceblue;
}

.responsive{
      max-width: 100px;
      height: 100px;
}

.contact-us {
    padding: 70px 0px;
    background: linear-gradient(black,white);
}
.title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid #000000;
    padding-bottom: 10px;
    display: inline-block;
}


.contact-us input,
.contact-us textarea {
    background: #fafafa;
}
.contact-us textarea {
    min-height: 188px;
    max-width: 100%;
}
.contact-us .map {
    overflow: hidden;
    border-radius: 4px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.text-left {
    text-align: left!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
.card-text{
    font-size:19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
